


<!-- footer section start -->
 <div class="footer_section layout_padding">
    <div class="text-center fs-5 my-3" style="color:white">
        Connect with us on :
      </div>
      <div class="text-center">
        <span type="button" class="ms-2 me-5"><i class="fa-brands fa-facebook fs-3" style="color:white"></i></span>
        <span type="button" class="me-5"><i class="fa-brands fa-twitter fs-3" style="color:#1DA1F2"></i></span>
        <span type="button" class="me-5"><i class="fa-brands fa-instagram fs-3" style="color:white"></i></span>
        <span type="button" class=""><i class="fa-brands fa-tiktok fs-3" style="color:white"></i></span>
      </div>
    <div class="container">
       <div class="footer_logo m-3"><a href="" style="font-size:40px;font-weight:bold;">ECommerce</a></div>
       <div class="input_bt">
          <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email"> 
          <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
       </div>
       <div class="footer_menu">
          <ul>
             <li><a href="#">Best Sellers</a></li>
             <li><a href="#">Gift Ideas</a></li>
             <li><a href="#">New Releases</a></li>
             <li><a href="#">Today's Deals</a></li>
             <li><a href="#">Customer Service</a></li>
          </ul>
       </div>
       <div class="location_main">Help Line  Number : <a>+987654321</a></div>
    </div>
 </div>
 <!-- footer section end -->
 <!-- copyright section start -->
 <div class="copyright_section">
    <div class="container">
       <p class="copyright_text">© 2020 All Rights Reserved.</p>
    </div>
 </div>
