    div.error {
      font-size: medium;
      position: absolute;
      top: 88%;
    }
    button{
      width: 100%;
    }

    button:hover {
      cursor: pointer;
      background-color: #214d5c;
    }

    label {
      color: rgb(0, 0, 0);
    }
    .loginForm {
      display: flex;
      justify-content: center;
      /* background-color: #e3eef8; */
      background-color:inherit;
    }

    .formContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      padding-top: 60px;
      padding-bottom: 60px
    }

    .input-container {
      position: relative;
      top: 10px;
    }

    input {
      margin-bottom: 20px;
      padding: 10px 35px;
      width: 100%;
      border: 1px solid rgb(39, 62, 69);  
      border-radius: 5px;
    }

    input:focus {
      outline: none;
    }


    i.bi-eye-fill,
    i.bi-eye-slash-fill {
      position: absolute;
      top: 24%;
      right: 2%;
      font-size: 18px;
      color: black;
    }

    .input-field-container {
      position: relative;
    }

    .icon {
      display: block;
      position: absolute;
      top: 53%;
      left: 14px;
      transform: translateY(-50%);
      z-index: 99;
    }
