<h2 class="text-center mt-2"><b>Your Profile</b></h2>
<div class="d-flex mt-2 justify-content-center">
    <div class="profile">
        <!-- <h2 class="ms-3 text-center"><b>Your Profile</b></h2> -->
        <div class="row" *ngIf="userInfo">
            <div class="img-container  mb-5">
                This is a image container.
            </div>
            <div class="userContainer">
                <h3 class="text-center mt-1">Your Information</h3>
                <div class="table profileTable">
                    <tr class="profileRow">
                        <th>
                            <i class="bi bi-person-fill"></i>Name
                        </th>
                        <td>{{userInfo.fullName}}</td>
                    </tr>
                    <tr class="profileRow">
                        <th>
                            <i class="bi bi-envelope-fill"></i>Email
                        </th>
                        <td>{{userInfo.email}}</td>
                    </tr>
                    <tr class="profileRow">
                        <th><i class="bi bi-geo-alt-fill"></i>Address</th>
                        <td>
                            {{userInfo.address}}
                        </td>
                    </tr>
                    <tr class="profileRow">
                        <th>
                            <i class="bi bi-telephone-fill"></i>Phone Number
                        </th>
                        <td>
                            {{userInfo.phoneNumber}}
                        </td>
                    </tr>
                </div>
            </div>
            <div class="row mb-2" style="margin-right: 30px;">
                <button class="btn btn-primary col-sm-4">Update details</button>
                <button class="btn btn-warning ms-2 col-sm-5">Change Password</button>
            </div>

        </div>
    </div>

    <!-- This is for the my orders  -->

    <div class="orders ">
        

        <div class="grid">
            <div class="purchase"></div>
            <div class="whished"></div>
        </div>
        <div *ngIf="order" style="width: 980px;">
            <h3 class="ms-3 mt-4 h3" style="border-bottom: 1px solid; width:200px">Purchase History</h3>

            <div class="tab">
                <button class="tablinks btn " [class.active]="selectedTab === 'tab1'" (click)="selectTab('tab1')">My Orders</button>
                <button class="tablinks btn ms-2" [class.active]="selectedTab === 'tab2'" (click)="selectTab('tab2')">Completed orders</button>
                <button class="tablinks btn ms-2" [class.active]="selectedTab === 'tab3'" (click)="selectTab('tab3')">Third</button>
            </div>
            <div class="tab-content">
                <div *ngIf="selectedTab === 'tab1'">   
                    <table class="table ms-3 mt-4" >
                        <thead>
                            <tr>
                                <th style="width: 20px">S.N</th>
                                <th style="width: 200px">Order Id</th>
                                <th style="width: 100px">Order date</th>
                                <th style="width: 20px;">Total Amount(Rs.)</th>
                                <th style="width:50px">Status</th>
                                <th style="width:100px">Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of order; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.id}}</td>
                                <td>{{item.orderDate | date:'dd MMM yyyy'}}</td>
                                <td>{{item.amount}}</td>
                                <td>{{OrderStatus[item.orderStatus].name}}</td>
                                <td>
                                    <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal" (click)="getId(item.id)"><i
                                            class="fa fa-trash"></i></button>&nbsp; &nbsp;
                                    <button class="btn btn-primary" (click)="onDetails(item.orderDetails)">
                                        <i class="fa fa-eye" (click)="onDetails(item.orderDetails)"></i>
                                    </button>
                                </td>
        
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div *ngIf="selectedTab === 'tab2'">
                    <table class="table ms-3 mt-4" >
                        <thead>
                            <tr>
                                <th style="width: 20px">S.N</th>
                                <th style="width: 200px">Order Id</th>
                                <th style="width: 100px">Order date</th>
                                <th style="width: 20px;">Total Amount(Rs.)</th>
                                <th style="width:50px">Status</th>
                                <th style="width:100px">Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of order; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.id}}</td>
                                <td>{{item.orderDate | date:'dd MMM yyyy'}}</td>
                                <td>{{item.amount}}</td>
                                <td>{{OrderStatus[item.orderStatus].name}}</td>
                                <td>
                                    <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal" (click)="getId(item.id)"><i
                                            class="fa fa-trash"></i></button>&nbsp; &nbsp;
                                    <button class="btn btn-primary" (click)="onDetails(item.orderDetails)">
                                        <i class="fa fa-eye" (click)="onDetails(item.orderDetails)"></i>
                                    </button>
                                </td>
        
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="selectedTab === 'tab3'">Content for Tab 3</div>


            </div>
            <div class="fs-2 text-center mt-5" *ngIf="!order">
                You do not have order history.<br>
                <button class="btn btn-warning" routerLink="">Shop Now</button>
            </div>

        </div>

        <div class="modal fade show" role="dialog" *ngIf="orderDetailsPopUpModal" id="orderDetailsModal"
            style="display:block;background: rgba(0, 0, 0, 0.7)">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Order details</h1>
                        <button type="button" class="btn-close" (click)="close()"></button>
                    </div>
                    <div class="modal-body">
                        <app-order-details [order-details]="orderDetails"></app-order-details>
                    </div>
                </div>
            </div>
        </div>



        <!-- delete modal pop up -->
        <div class="modal fade " id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to cancle this order?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            (click)="removeOrder()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>