.profile{
    width: 400px;
    border: 3px solid rgb(188, 184, 184);
    background-color: white;
    height: fit-content;
}

.img-container{
    margin-top: 20px;
    background-color:rgb(206, 199, 199);
    width: 340px;
    height: 280px;
}


.row{
    display: flex;
    justify-content: center;
}

.userContainer{
    width: 340px;
    margin-bottom:20px;
    border: 2px solid rgb(188, 184, 184);
    padding: 0;
}


.userInfoClass{
    font-size: 20px;
    margin-top: 8px;
}

.profileTable{
    margin: 0;
}
.profileTable th{
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(236, 236, 236) ;
    height: 100%;
    border-top: 2px solid rgb(188, 184, 184);
}
.profileTable td{
    width: 190px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-top: 2px solid rgb(188, 184, 184);
}


.orders{
    width: 1000px;
    margin-left: 40px;
    border: 3px solid rgb(188, 184, 184);
    background-color:white ;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
}
.purchase{
    margin: 30px 20px 0 20px;
    height: 260px;
    background-color: rgba(0, 47, 255, 0.4);
}

.whished{
    margin: 30px 20px 0 20px;
    height: 260px;
    background-color: rgba(255, 0, 0, 0.4);
}


/* This is to make the content display bottom of the div */
/* .buttonClass{
    padding-top: 10px;
    background-color:aqua ;
    position: relative;
}
.bottomClass{
    position: absolute;
    bottom: 0px;
} */


.tab{
    margin-left: 10px;
    border-radius: 4px;
}
.btn{
    border: none;
}
.tab button:hover {
    background-color: #ddd;
  }
.tab button.active{
    background-color: rgb(132, 132, 207);
}
.tab-content{
    margin-left: 20px;
}
