<div class="container">
    <div class="row">
        <div class="text-center">
            <span class="productHeading text-center" >Recommended For You</span>
        </div>
    </div>
    <strong *ngIf="!randomProducts" class="ms-5">Loading......</strong>

    <div class="row">
        <div class="col-3 mb-5 me-0 mt-2" *ngFor="let item of randomProducts; let i = index">
            <div class="single-product" style="margin:0 10px 0 10px">
                <div class="product-f-image photos">
                    <img class="img" src="{{imageUrl + item.imageLists.imageName}}" alt="">
                    <div class="product-hover">
                        <a routerLink="product-details/{{item.id}}" class="view-details-link"><i class="fa fa-link"></i>
                            See details</a>
                    </div>
                </div>
                <div class="productDetails">
                    <div class="text-center">
                        <strong class=" product_text">{{item.name}}</strong>
                        <div class="product-carousel-price">
                            <ins>Rs: {{item.price}}</ins>
                        </div>
                        <i class="fa-solid fa-star" style="color:gold"></i>
                        <i class="fa-solid fa-star" style="color:gold"></i>
                        <i class="fa-solid fa-star" style="color:gold"></i>
                        <i class="fa-solid fa-star" style="color:gold"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>