.single-product{
    width: 365px;
    height: 320px;
}
a{
    text-decoration: none;
}

button:hover{
    transition: 0.3s ease-in;
    background-color: rgb(137, 129, 185);       
}
button{
    height: 40px;
    border-radius: 50px;
    border:2px solid rgb(191, 191, 235);
    padding:8px 15px;
}