<div class="container">
    <div class="text">
        Update user details
    </div>
    <form [formGroup]="editForm" (ngSubmit)="saveChanges()">
        <div class="form-row">
            <div class="input-data">
                <input type="text" class="form-control" name="fullName" style="box-shadow: none;"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.fullName.errors }" formControlName="fullName"
                    required>
                <div class="underline"></div>
                <label for="fullName">Full Name</label>
                <div *ngIf="submitted && getFormControl.fullName.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.fullName.errors?.required" style="color: red;">Full Name is required.
                    </div>
                </div>
            </div>
            <div class="input-data">
                <input type="text" required formControlName="userName" class="form-control" style="box-shadow: none;"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.userName.errors }">
                <div class="underline"></div>
                <label for="userName">UserName</label>
                <div *ngIf="submitted && getFormControl.userName.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.userName.errors?.required" style="color: red;">UserName is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input type="text" required formControlName="email" class="form-control" style="box-shadow: none;"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.email.errors }">
                <div class="underline"></div>
                <label for="email">Email Address</label>
                <div *ngIf="submitted && getFormControl.email.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.email.errors?.required" style="color: red;">Email Address is required.
                    </div>
                </div>
            </div>
            <div class="input-data">
                <input type="text" required formControlName="address" class="form-control" style="box-shadow: none;"
                    [ngClass]="{ 'is-invalid': submitted && getFormControl.address.errors }">
                <div class="underline"></div>
                <label for="address">Address</label>
                <div *ngIf="submitted && getFormControl.address.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.address.errors?.required" style="color: red;">Address is required.</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input type="number" required style="box-shadow: none;" formControlName="phoneNumber"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && getFormControl.dob.errors }">
                <div class="underline"></div>
                <label for="">Phone Number</label>
                <div *ngIf="submitted && getFormControl.phoneNumber.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.phoneNumber.errors?.required" style="color: red;">Full Name is required.
                    </div>
                </div>
            </div>
            <div class="input-data">
                <!-- <input type="date" required style="text-align: right;box-shadow: none;" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && getFormControl.dob.errors }">
                <div class="underline"></div>
                <label for="dob">Gender</label>
                <div *ngIf="submitted && getFormControl.dob.errors" class="invalid-feedback text-danger">
                    <div *ngIf="getFormControl.dob.errors?.required" style="color: red;">Date of birth is required.</div>
                </div> -->
                <!-- <label for="genderSelect">Select Gender:</label> -->
                <select name="gender" id="genderSelect">    
                    <option *ngFor="let item of gender" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data"></div>
            <div class="input-data "><button type="submit" name="login" class="btn"
                    style="float:right; color:white;width:150px;">Update</button></div>
        </div>
    </form>
</div>