<div class="row" style="background-color: #e8f4f4;height:480px">

  <div>
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let item of slides; index as i">
        <div class="picsum-img-wrapper">
          <img src="{{item.url}}" alt="Random first slide" style="height:480px; width:100vw;">
          <div class="content">
            <h2>Content</h2>
            <div class="content1">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia libero porro distinctio repellendus, culpa
              illo quas, aliquam repellat commodi optio sed quibusdam tenetur placeat error neque obcaecati consequuntur
              totam quod iusto! Tempore!
            </div>
            <button class="btn">See More</button>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>


  <!-- <div class="mb-2">
    <div class="slider">
      <div>
        <div (click)="goToPrevious()" class="leftArrow">❰</div>
        <div (click)="goToNext()" class="rightArrow">❱</div>
      </div>
      <div class="side-container">
        <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl()}"></div>
        <div class="content">
          <h2>Content</h2>
          <div class="content1">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia libero porro distinctio repellendus, culpa
            illo quas, aliquam repellat commodi optio sed quibusdam tenetur placeat error neque obcaecati consequuntur
            totam quod iusto! Tempore!
          </div>
          <button class="btn">See More</button>
        </div>
      </div>
      <div class="dotsContainer">
        <div *ngFor="let slide of slides; let slideIndex = index" class="dot" (click)="goToSlide(slideIndex)">
          ●
        </div>
      </div>
    </div>
  </div> -->




</div>


<div class="random-products-wrapper">
  <app-popular-product-list></app-popular-product-list>
</div>
<hr>
<div class="random-products-wrapper">
  <app-random-product-list></app-random-product-list>
</div>
<hr>
<div class="product-list-wrapper">
  <app-product-list></app-product-list>
</div>