a {
  text-decoration: none;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slide {
  height: 480px;
  position: relative;
  background-size: 100% 100%;
  transition: 0.5s ease-in;
  overflow: hidden;

}

.rightArrow {
  position: absolute;
  top: 25%;
  transform: translate(0, 100%);
  right: 32px;
  font-size: 45px;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.leftArrow {
  position: absolute;
  top: 25%;
  transform: translate(0, 100%);
  left: 32px;
  font-size: 45px;
  color: black;
  z-index: 1;
  cursor: pointer;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

.dot:hover {
  color: #875555;
}


.content {
  position: absolute;
  top: 50px;
  width: 348px;
  right: 100px;
}

.btn {
  border: 1px solid rgb(81, 124, 124);
}

.btn:hover {
  background-color: #a2cddf;
}

