<!-- Related product list -->
<div class="ps-2 pt-3" *ngIf="totalPage>0">
    <h2 class="text-center">Related Products</h2>
    <div class="m-4">
        <div class="row" *ngFor="let item of productList; let i = index" style="margin:0 80px 0 80px">
            <div class=" pt-3 d-flex">
                <div class=" single-product product-f-image" style="height:fit-content;width:fit-content">
                    <img class="img" src="{{item.img.imageUrl}}" alt="" style="height:250px;width:400px">
                    <div class="product-hover">
                        <!-- <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a> -->
                        <!-- <a href="product-details/{{item.id}}" class="view-details-link"><i class="fa fa-link"></i> See details</a> -->
                        <a (click)="productDetailsNavigation(item.id)" class="view-details-link"><i
                                class="fa fa-link"></i> See details</a>
                    </div>
                </div>
                <div class="ms-5">
                    <h4>{{item.name}}</h4>
                    <div class="product-carousel-price">
                        <ins>Rs: {{item.price}}</ins>
                    </div>
                    <i class="fa-solid fa-star" style="color:gold"></i>
                    <i class="fa-solid fa-star" style="color:gold"></i>
                    <i class="fa-solid fa-star" style="color:gold"></i>
                    <i class="fa-solid fa-star" style="color:gold"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        </div>

    </div>
    <div class="mb-3 d-flex justify-content-center">
        <div class="me-2" *ngFor="let item of [].constructor(totalPage); let i = index">
            <button (click)="getProductWithCategory(i+1)">{{i + 1}}</button>
        </div>
    </div>
</div>