a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
button:hover{
    transition: 0.3s ease-in;
    background-color: rgb(137, 129, 185);
}
button{
    border:2px solid rgb(209, 209, 242);
    padding:8px 15px;
}