<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h1 class="h1">Change Password</h1>
        <label for="oldPassword" class="ms-5">Old Password:</label>
        <div class="input-with-icon">
            <i class="bi bi-key-fill"></i>
            <input id="oldPassword" [type]="isOldPassword ? 'password' : 'text'" class="ms-2"
                formControlName="oldPassword" [ngClass]="{'is-invalid': submitted && getFormControl.oldPassword.errors}"
                class="form-control">
            <i [ngClass]="isOldPassword? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" id="oldpass"
                (click)="togglePassword($event)"></i>
            <div *ngIf="submitted && getFormControl.oldPassword.errors?.required"
                class="error invalid-feedback text-danger">
                <div *ngIf="getFormControl.oldPassword.errors?.required" style="position: absolute;"
                    class="text-danger ms-3">Required</div>
            </div>
            <div *ngIf="submitted && getFormControl.oldPassword.errors?.pattern" class="invalid-feedback error">
                <div *ngIf="getFormControl.oldPassword.errors?.pattern" style="position: absolute;"
                    class="text-danger ms-3">
                    Please set a strong format password.
                </div>
            </div>
        </div>
        <label for="newPassword" class="ms-5">New Password:</label>
        <div class="input-with-icon">
            <i class="bi bi-key-fill"></i>
            <input [type]="isNewPassword ? 'password' : 'text'" class="ms-2" formControlName="newPassword"
                [ngClass]="{'is-invalid': submitted && getFormControl.newPassword.errors}" class="form-control">
            <i [ngClass]="isNewPassword? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" id="newpass"
                (click)="togglePassword($event)"></i>
            <div *ngIf="submitted && getFormControl.newPassword.errors?.required" class="error invalid-feedback">
                <div *ngIf="getFormControl.newPassword.errors?.required" style="position: absolute;"
                    class="text-danger ms-3">Required</div>
            </div>
            <div *ngIf="submitted && getFormControl.newPassword.errors?.pattern" class="invalid-feedback error">
                <div *ngIf="getFormControl.newPassword.errors?.pattern" style="position: absolute;"
                    class="text-danger ms-3">
                    Please set a strong format password.
                </div>
            </div>
        </div>
        <label for="confirmNewPassword" class="ms-5">Confirm New Password:</label>
        <div class="input-with-icon">
            <i class="bi bi-key-fill"></i>
            <input [type]="isConfirmPassword ? 'password' : 'text'" class="ms-2" formControlName="confirmPassword"
                [ngClass]="{'is-invalid': submitted && getFormControl.confirmPassword.errors}" class="form-control">
            <i [ngClass]="isConfirmPassword? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" id="confirmnewpass"
                (click)="togglePassword($event)"></i>
            <div *ngIf="submitted && getFormControl.confirmPassword.errors?.required" class="error invalid-feedback">
                <div *ngIf="getFormControl.confirmPassword.errors?.required" style="position: absolute;"
                    class="text-danger ms-3">Required</div>
            </div>
            <div *ngIf="submitted && getFormControl.confirmPassword.errors?.pattern" class="invalid-feedback error">
                <div *ngIf="getFormControl.confirmPassword.errors?.pattern" style="position: absolute;"
                    class="text-danger ms-3">
                    Please set a strong format password.
                </div>
            </div>
        </div>
        <button class="btn btn-primary">Save Changes</button>
    </div>
</form>