
form{
     height: 60vh;
}
.container{
    margin-top: 30px;
    border: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    height: 55vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
input{
    width: 350px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 35px;
    display: inline;
    outline: none;
    box-shadow: none;
    border-color: none;
}
input:hover{
    border:none;
    border: .5px solid rgb(135, 130, 130);
}
input:focus{
    outline: .5px solid rgb(135, 130, 130);
    /* border: none;
    outline: none; */
    /* border-color: none; */
    box-shadow: none;
}
input.is-invalid:focus{
    box-shadow: none;
    /* outline: .5px solid rgb(135, 130, 130); */
}


.form-control.is-invalid{
    background-image: none;
}
label{
    margin-right: auto;
    text-align: left;
    margin-top: 15px;
}

.bi.bi-key-fill{
    position:relative;
    left: 28px;
    top: 2px;
}

.bi.bi-eye-slash-fill{
    position: relative;
    right: 30px;
    top: 2px;
}
.bi.bi-eye-fill{
    position: relative;
    right: 30px;
    top: 2px;
}
.bi-eye-slash-fill:hover,.bi-eye-fill:hover{
    cursor: pointer;
}
.btn.btn-primary{
    margin-top: 17px;
}