li{
    list-style: none;
}
ul{
    padding: 0;
}
a{
    text-decoration: none;
}

button:hover{
    transition: 0.3s ease-in;
    background-color: rgb(137, 129, 185);
}
button{
    border:2px solid rgb(191, 191, 235);
    padding:8px 15px;
}